@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("icon-moon.css");

html,
body,
#app {
  @apply font-sans;
}

h1 {
  @apply font-display font-bold text-3xl mb-2;
}

a {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;
}

/* The outer container */
#app {
  @apply w-full content-center pb-6;
}

/* Main content container */
.main {
  @apply flex flex-row min-h-screen justify-center;
}

.scan {
  @apply m-3 content-center;
}

/* Just the canvas element */
.scanCanvas {
  @apply rounded m-3;
}

/* A div that holds the buttons */
.scanBtn {
  @apply m-5 content-center justify-center flex;
}

/* Individual scan/stop/share buttons */
.scanBtn button {
  @apply uppercase bg-sky-700 text-white p-3 cursor-pointer m-2 rounded-md font-semibold;
}

.loginBtn {
  @apply m-5 content-center px-6 sm:px-0 flex justify-end;
}

.loginBtn button {
  @apply p-1 cursor-pointer m-2 rounded-md
  bg-slate-400 text-white 
   font-medium text-sm px-2 py-1.5 text-center 
   inline-flex items-center justify-between;
}

button.active {
  @apply bg-red-600;
}

button.done {
  @apply bg-green-600;
}

/* The div that contains the welcome screen */
.welcome {
  background-color: #ffffff;
  background-image: linear-gradient(
      to bottom,
      rgba(249, 249, 249, 0.99),
      rgba(249, 249, 249, 0.92)
    ),
    url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  @apply max-w-96 m-3 content-center justify-center flex p-5 bg-right-bottom rounded-lg;
}

.welcome ul {
  @apply ml-5;
}

/* TODO: custom arrows as in https://web.dev/articles/css-marker-pseudo-element */
.welcome li {
  @apply mb-3;
}

.scan-list {
  @apply mx-3;
}

.scan-list li {
  @apply mb-3;
}

.scan-list a,
.scan-list a:visited {
  @apply text-blue-700 no-underline;
}

.scan-list i {
  @apply w-5 inline-block text-xs;
}

/* The div that contains book details after the scan */
.result {
  background-color: #ffffff;
  background-image: linear-gradient(
      to bottom,
      rgba(249, 249, 249, 0.99),
      rgba(249, 249, 249, 0.92)
    ),
    url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  @apply m-3 p-5 bg-right-bottom rounded-lg break-words;
}

/* The book result table with 3 columns for Info, Buy, Borrow */
.result-table {
  @apply grid grid-cols-3;
}

/* The header row in the table */
.result-table h3 {
  background-position: bottom 0.3em left 0;
  background-size: 0.75em;
  background-repeat: no-repeat;

  @apply font-bold mb-3 flex pl-4;
}

.result-table p {
  @apply mb-1;
}

/* Expand-collapse description field */
.descr-collapsed .descr-expand {
  @apply text-blue-700 no-underline cursor-pointer ml-1;
}

.descr-full .descr-expand {
  @apply hidden;
}

.descr-collapsed .descr-expand::before {
  content: "...";
  @apply pr-1 text-black;
}

.descr-collapsed .descr-extra-text {
  @apply hidden;
}

.descr-full .descr-extra-text {
  @apply visible;
}

.book-cover {
  @apply grid justify-items-center mt-6;
}

/* Buttons to control book status and other actions on book details page */

.book-actions {
  @apply my-6 text-slate-400 flex;
}

.book-actions i {
  @apply px-5 py-1 mx-2 text-slate-500 border-2 rounded-md cursor-pointer flex-none;
}

i.active {
  @apply bg-slate-200;
}

.scan-list i.icon-alarm,
i.active.icon-alarm {
  @apply text-blue-900;
}

.scan-list i.icon-checkmark,
i.active.icon-checkmark {
  @apply text-green-900;
}

.scan-list i.icon-heart,
i.active.icon-heart {
  @apply text-red-900;
}

/* Animation effect for loading book details */
.fade-in {
  animation-duration: 2s;
  animation-name: fade-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

/* ===== Icons ===== */

.about {
  background-image: url("icons/about.svg");
}

.buy {
  background-image: url("icons/buy.svg");
}

.borrow {
  background-image: url("icons/borrow.svg");
}
